@tailwind base;
@tailwind components;
@tailwind utilities;
    

body.background-black {
    background-color: black;
    color: white;
  }

  .perspective {
    perspective: 1000px;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
  }
  
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  